/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,200&display=swap');

/* Global Styles */
:root
{
    --navy-blue: #03256C;
    --cobalt-blue: #2541B2;
    --azure-blue: #1768AC;
    --turquoise-blue: #06BEE1;
    --white: #ffffff;
    --digits-font-family: "VT323", monospace;
    --letters-font-family: "Advent Pro", sans-serif;
    --extra-small: 8px;
    --small: 16px;
    --medium: 24px;
    --large: 48px;
    --extra-large: 72px;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--azure-blue);
    margin: 50px;
}

/* Change the way text looks when the user highlights it with his/her mouse*/
::selection
{
    background-color: var(--cobalt-blue);
    color: var(--navy-blue);
}

/* Header Styles */
header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1
{
    color: var(--navy-blue);
    font-family: var(--letters-font-family);
    font-size: var(--extra-large);
}

header > h1:hover
{
    cursor: pointer;
}

/* Main Styles */
main
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 10px;
    width: 98.3%;
    height: 800px;
}

.calculator-container
{
    align-self: center;
    margin-left: 380px;
    width: 775px;
    height: 775px;
}

.sfx-button-container
{
    width: 200px;
    height: 150px;
    margin: 15px;
}

.calculator
{
    width: 750px;
    height: 750px;
    margin: auto;
    margin-top: 5px;
    border: 5px solid var(--navy-blue);
    background-color: var(--navy-blue);
}

.calculator-screen
{
    margin: 20px;
    height: 250px;
    border: 5px solid var(--cobalt-blue);
    background-color: var(--cobalt-blue);
}

.operation-preview
{
    margin: 10px;
    height: 80px;
    border: 5px solid var(--cobalt-blue);
    margin-left: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--turquoise-blue);
    font-family: var(--digits-font-family);
    font-size: var(--large);
}

.result-preview
{
    margin: 10px;
    height: 120px;
    border: 5px solid var(--cobalt-blue);
    color: var(--turquoise-blue);
    margin-left: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: var(--digits-font-family);
    font-size: var(--extra-large);
}

.calculator-buttons
{
    height: 420px;
    margin: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    "clear clear clear clear delete delete delete delete"
    "seven seven eight eight nine nine plus plus"
    "four four five five six six minus minus"
    "one one two two three three product product"
    "point point cero cero equals equals divide divide";
}

.button
{
    height: 45px;
    margin: 10px;
    border: 3px solid var(--cobalt-blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cobalt-blue);
    transition: opacity 0.3s;
}

.button:hover
{
    cursor: pointer;
    opacity: 0.7;
}

.button:active
{
    opacity: 0.3;
}

.button-content
{
    height: 100%;
    font-family: var(--digits-font-family);
    font-size: var(--large);
    color: var(--turquoise-blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.clear
{
    grid-area: clear;
    height: 50px;
}

.delete
{
    grid-area: delete;
    height: 50px;
}

.plus
{
    grid-area: plus;
}

.seven
{
    grid-area: seven;
}

.eight
{
    grid-area: eight;
}

.nine
{
    grid-area: nine;
}

.minus
{
    grid-area: minus;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.six
{
    grid-area: six;
}

.product
{
    grid-area: product;
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.divide
{
    grid-area: divide;
}

.point
{
    grid-area: point;
}

.cero
{
    grid-area: cero;
}

.equals
{
    grid-area: equals;
}

#clear, #delete
{
    text-transform: uppercase;
    color: var(--white);
}

#product
{
    position: relative;
    top: 2px;
}

#point
{
    position: relative;
    bottom: 10px;
}

button#sfx-button
{
    height: 100%;
    border: 5px solid var(--navy-blue);
    background-color: var(--turquoise-blue);
    border-radius: 50%;
    transition: opacity 0.3s;
}

button#sfx-button:hover
{
    cursor: pointer;
    opacity: 0.7;
}

button#sfx-button:active
{
    opacity: 0.3;
}

img#sfx-icon
{
    width: 50%;
    max-width: 250px;
}

/* Footer Styles */
footer
{
    margin-left: 630px;
    margin-right: 530px;
}

.footer-content
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    font-size: var(--medium);
}

.footer-content > h2
{
    border-right: 5px solid var(--navy-blue);
    padding-right: 45px;
}

.footer-content > h2 > a
{
    text-decoration: none;
    font-family: var(--letters-font-family);
    color: var(--navy-blue);
}

.footer-content > a > img
{
    width: 30%;
    max-width: 250px;
}

.footer-content > h2 > a, .footer-content > a > img
{
    transition: opacity 0.3s;
}

.footer-content > h2 > a:hover, .footer-content > a > img:hover
{
    opacity: 0.7;
}

.footer-content > h2 > a:active, .footer-content > a > img:active
{
    opacity: 0.3;
}